#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/modifiers.h>
#include <dt-bindings/zmk/pointing.h>

#define ZMK_POINTING_DEFAULT_SCRL_VAL 80

&mt {
    flavor = "balanced";
    quick-tap-ms = <0>;
};

&lt {
    flavor = "balanced";
    tapping-term-ms = <200>;
};

/ {
    combos {
        compatible = "zmk,combos";
        timeout-ms = <20>; // default is 30ms

        tab {
            bindings = <&kp TAB>;
            key-positions = <11 12>;
        };

        shift_tab {
            bindings = <&kp LS(TAB)>;
            key-positions = <12 13>;
        };

        double_quotation {
            bindings = <&kp DOUBLE_QUOTES>;
            key-positions = <16 17>;
        };

        eq {
            bindings = <&kp EQUAL>;
            key-positions = <24 25>;
        };

        rigtht_click {
            bindings = <&mkp RCLK>;
            key-positions = <19 20>;
        };

        left_click {
            bindings = <&mkp LCLK>;
            key-positions = <18 19>;
        };
    };

    macros {
        to_layer_0: to_layer_0 {
            compatible = "zmk,behavior-macro-one-param";
            #binding-cells = <1>;
            bindings = <&to 0 &macro_param_1to1 &kp MACRO_PLACEHOLDER>;
            label = "TO_LAYER_0";
        };

    };

    behaviors {
        lt_to_layer_0: lt_to_layer_0 {
            compatible = "zmk,behavior-hold-tap";
            label = "LAYER_TAP_TO_0";
            bindings = <&mo>, <&to_layer_0>;

            #binding-cells = <2>;
            tapping-term-ms = <200>;
        };

        encoder_msc_down_up: encoder_msc_down_up {
            compatible = "zmk,behavior-sensor-rotate";
            label = "ENCODER_MSC_DOWN_UP";
            #sensor-binding-cells = <0>;
            bindings = <&msc SCRL_UP>, <&msc SCRL_DOWN>;

            tap-ms = <20>;
        };

        zoom_in_out: zoom_in_out {
            compatible = "zmk,behavior-sensor-rotate";
            #sensor-binding-cells = <0>;
            bindings = <&kp LG(EQUAL)>, <&kp LG(MINUS)>;

            tap-ms = <20>;
        };

        ctrl_h_bspc: ctrl_h_bspc {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&kp H>, <&kp BACKSPACE>;
            mods = <(MOD_LCTL|MOD_RCTL)>;
        };

        ctrl_f_right: ctrl_f_right {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&kp F>, <&kp RIGHT>;
            mods = <(MOD_LCTL|MOD_RCTL)>;
        };

        ctrl_b_left: ctrl_b_left {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&kp B>, <&kp LEFT>;
            mods = <(MOD_LCTL|MOD_RCTL)>;
        };

        ctrl_n_down: ctrl_n_down {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&kp N>, <&kp DOWN>;
            mods = <(MOD_LCTL|MOD_RCTL)>;
        };

        ctrl_p_up: ctrl_p_up {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&kp P>, <&kp UP>;
            mods = <(MOD_LCTL|MOD_RCTL)>;
        };

        ctrl_j_kana: ctrl_j_kana {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&kp J>, <&kp LANG1>;
            mods = <(MOD_LCTL|MOD_RCTL)>;
        };

        ctrl_m_ret: ctrl_m_ret {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&kp M>, <&kp RET>;
            mods = <(MOD_LCTL|MOD_RCTL)>;
        };

        // Cmd 押下時は morph を無効化し、素の N/P を送って cmd+ctrl+n/p を OS に届ける
        cmd_ctrl_n: cmd_ctrl_n {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&ctrl_n_down>, <&kp N>;
            mods = <(MOD_LGUI|MOD_RGUI)>;
            keep-mods = <(MOD_LGUI|MOD_RGUI)>;
        };

        cmd_ctrl_p: cmd_ctrl_p {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&ctrl_p_up>, <&kp P>;
            mods = <(MOD_LGUI|MOD_RGUI)>;
            keep-mods = <(MOD_LGUI|MOD_RGUI)>;
        };

    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
&kp Q             &kp W         &kp E    &kp R                    &kp T                                                    &kp Y      &kp U    &lt 5 I  &kp O    &cmd_ctrl_p
&kp A             &kp S         &kp D    &ctrl_f_right            &kp G        &lt 1 LS(LG(S))       &kp SQT                &ctrl_h_bspc  &ctrl_j_kana  &kp K    &kp L    &lt 3 SEMI
&mt LEFT_SHIFT Z  &kp X         &kp C    &kp V                    &ctrl_b_left &lt 4 GRAVE           &kp PLUS               &cmd_ctrl_n  &ctrl_m_ret  &kp COMMA  &kp DOT  &lt 6 SLASH
&kp LEFT_COMMAND  &kp LEFT_ALT  &kp TAB  &mt LEFT_CONTROL ESCAPE  &lt 2 SPACE  &lt 3 LANG2    &kp MINUS              &kp LEFT_SHIFT                                &kp BACKSLASH
            >;

            sensor-bindings =
                <&encoder_msc_down_up>,
                <&inc_dec_kp C_VOL_DN C_VOL_UP>;
        };

        FUNCTION {
            bindings = <
&trans  &trans  &trans  &trans  &trans                              &kp F1  &kp F2  &kp F3  &kp F4  &kp F5
&trans  &trans  &trans  &trans  &trans  &trans      &trans  &kp F6  &kp F7  &kp F8  &kp F9  &kp F10
&trans  &trans  &trans  &trans  &trans  &trans      &trans  &trans  &trans  &trans  &trans  &kp F11
&trans  &trans  &trans  &trans  &trans  &trans      &trans  &trans                          &kp F12
            >;

            sensor-bindings = <&encoder_msc_down_up>;
        };

        NUM {
            bindings = <
&kp MINUS  &kp N7  &kp N8  &kp N9  &kp PLUS                                     &kp CARET       &kp AMPERSAND  &kp TILDE       &kp LEFT_PARENTHESIS  &kp RIGHT_PARENTHESIS
&kp SLASH  &kp N4  &kp N5  &kp N6  &kp ASTERISK          &trans                 &kp UNDERSCORE  &kp EXCLAMATION  &kp AT_SIGN  &kp HASH              &kp DOLLAR             &kp PERCENT
&mt LEFT_SHIFT N0  &kp N1  &kp N2  &kp N3  &kp PERIOD  &kp EQUAL          &trans  &kp LEFT_BRACKET  &kp RIGHT_BRACKET  &kp LEFT_BRACE  &kp RIGHT_BRACE  &kp BACKSLASH
&trans     &trans  &trans  &trans  &trans  &trans      &trans            &trans                                                                     &kp PIPE
            >;

            sensor-bindings = <&encoder_msc_down_up>;
        };

        ARROW {
            bindings = <
&kp ESCAPE      &kp LC(LS(TAB))         &kp UP_ARROW    &kp LC(TAB)              &trans                              &trans          &trans          &trans        &trans           &trans
&kp HOME        &kp LEFT_ARROW          &kp DOWN_ARROW  &kp RIGHT_ARROW          &kp END            &trans   &trans  &kp LEFT_ARROW  &kp DOWN_ARROW  &kp UP_ARROW  &kp RIGHT_ARROW  &trans
&kp LEFT_SHIFT  &kp LG(LS(LEFT_ARROW))  &trans          &kp LG(LS(RIGHT_ARROW))  &trans   &trans    &trans           &trans          &trans          &trans        &trans           &trans
&trans          &trans                  &trans          &trans                   &trans   &trans    &trans           &trans                                                          &trans
            >;

            sensor-bindings = <&inc_dec_kp C_VOLUME_UP C_VOLUME_DOWN>;
        };

        Bluetooth {
            bindings = <
&trans  &trans        &trans        &trans        &trans                                   &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3  &bt BT_SEL 4
&trans  &trans        &trans        &trans        &trans  &trans      &trans        &trans  &trans        &trans        &trans        &trans
&trans  &trans        &trans        &trans        &trans  &trans      &bootloader   &trans  &trans        &trans        &trans        &bt BT_CLR
&trans  &trans        &trans        &trans        &trans  &trans      &trans        &trans                                            &bt BT_CLR_ALL
            >;

            sensor-bindings = <&inc_dec_kp C_BRI_UP C_BRI_DN>;
        };

        MOUSE {
            bindings = <
&trans  &trans  &trans  &trans  &trans                    &trans  &trans    &trans    &trans    &trans
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans    &mkp MB1  &mkp MB2  &trans
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans    &trans    &trans    &trans
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans                                &trans
            >;

            sensor-bindings = <&encoder_msc_down_up>;
        };

        SCROLL {
            bindings = <
&trans  &trans  &trans  &trans  &trans                    &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans                          &trans
            >;

            sensor-bindings = <&zoom_in_out>, <&zoom_in_out>;
        };
    };
};
